(
    desc: (
        eng: "# Scaling monoportal\n\nIt constructed from offsetting monoportal, which upper part is transformed into trapezoid and everything dependent scaled to match this trapezoid.\n\nThis portal has one continuous surface which can enlarge or reduce objects.",
        rus: "# Масштабирующий монопортал\n\nОн собран из смещающего монопортала, верхняя часть которого превращена в трапецию и в соответствии с этим изменился масштаб всего что от неё зависело.\n\nДанный портал состоит из одной непрерывной поверхности, при вхождении в которую возможно как увеличиваться так и уменьшаться.\n",
    ),
    cam: (
        look_at: (0, 0, 0),
        alpha: 1.983285268424741,
        beta: 1.1789996985495108,
        r: 3.8500000000000267,
        offset_after_material: 0.000025,
    ),
    uniforms: ([
        (
            name: "room_size_x",
            data: Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
        ),
        (
            name: "room_size_y",
            data: Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
        ),
        (
            name: "room_size_z",
            data: Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
        ),
        (
            name: "height",
            data: Float((
                min: Some(0),
                max: None,
                value: 0.5,
            )),
        ),
        (
            name: "width",
            data: Float((
                min: Some(0),
                max: None,
                value: 1,
            )),
        ),
        (
            name: "scale",
            data: Float((
                min: Some(1),
                max: None,
                value: 2,
            )),
        ),
        (
            name: "border",
            data: Float((
                min: Some(0),
                max: None,
                value: 0.13,
            )),
        ),
        (
            name: "scale_shape",
            data: Formula(("scale")),
        ),
        (
            name: "progress",
            data: Progress(0),
        ),
    ]),
    matrices: ([
        (
            name: "room_origin",
            data: Simple(
                offset: (0, 0, 0),
                scale: 1,
                rotate: (0, 0, 0),
                mirror: (false, false, false),
            ),
        ),
        (
            name: "a",
            data: Simple(
                offset: (0, 0, 0),
                scale: 1,
                rotate: (0, 0, 0),
                mirror: (false, false, false),
            ),
        ),
        (
            name: "b",
            data: Parametrized(
                offset: (
                    x: Value(0),
                    y: Uniform(Some(Inline(Formula(("height + height/scale"))))),
                    z: Value(0),
                ),
                rotate: (
                    x: Value(0),
                    y: Value(3.141592653589793),
                    z: Value(0),
                ),
                mirror: (
                    x: Value(0),
                    y: Value(0),
                    z: Value(0),
                ),
                scale: Uniform(Some(Inline(Formula(("1.0 / scale"))))),
            ),
        ),
        (
            name: "support_a",
            data: Parametrized(
                offset: (
                    x: Value(0),
                    y: Uniform(Some(Inline(Formula(("-height"))))),
                    z: Value(0),
                ),
                rotate: (
                    x: Value(4.71238898038469),
                    y: Value(0),
                    z: Value(0),
                ),
                mirror: (
                    x: Value(0),
                    y: Value(0),
                    z: Value(0),
                ),
                scale: Value(1),
            ),
        ),
        (
            name: "support_b",
            data: Parametrized(
                offset: (
                    x: Value(0),
                    y: Uniform(Some(Inline(Formula(("height + 2 * height/scale"))))),
                    z: Value(0),
                ),
                rotate: (
                    x: Value(4.71238898038469),
                    y: Value(0),
                    z: Value(0),
                ),
                mirror: (
                    x: Value(0),
                    y: Value(0),
                    z: Value(0),
                ),
                scale: Uniform(Some(Inline(Formula(("1.0 / scale_shape / scale"))))),
            ),
        ),
        (
            name: "triangle",
            data: Simple(
                offset: (0, 0, 0.71),
                scale: 1,
                rotate: (4.71238898038469, 0, 0),
                mirror: (false, false, false),
            ),
        ),
    ]),
    objects: ([
        (
            name: "room_x+",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Uniform(Some(Named("room_size_x"))),
                            y: Value(0),
                            z: Value(0),
                        ),
                        rotate: (
                            x: Value(0),
                            y: Value(1.5707963267948966),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_z_u, room_size_y_u, room_yellow_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_x-",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Uniform(Some(Inline(Formula(("-room_size_x"))))),
                            y: Value(0),
                            z: Value(0),
                        ),
                        rotate: (
                            x: Value(0),
                            y: Value(1.5707963267948966),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_z_u, room_size_y_u, room_red_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_y+",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Value(0),
                            y: Uniform(Some(Named("room_size_y"))),
                            z: Value(0),
                        ),
                        rotate: (
                            x: Value(1.5707963267948966),
                            y: Value(0),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_x_u, room_size_z_u, room_black_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_y-",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Value(0),
                            y: Uniform(Some(Inline(Formula(("-room_size_y"))))),
                            z: Value(0),
                        ),
                        rotate: (
                            x: Value(1.5707963267948966),
                            y: Value(0),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_x_u, room_size_z_u, room_gray_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_z+",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Value(0),
                            y: Value(0),
                            z: Uniform(Some(Named("room_size_z"))),
                        ),
                        rotate: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_x_u, room_size_y_u, room_blue_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_z-",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Value(0),
                            y: Value(0),
                            z: Uniform(Some(Inline(Formula(("-room_size_z"))))),
                        ),
                        rotate: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_x_u, room_size_y_u, room_green_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "monoportal",
            data: Flat(
                kind: Portal(Some(Named("a")), Some(Named("b"))),
                is_inside: (("if (abs(y) > height_u) return NOT_INSIDE;\n\nfloat p = (y + height_u) / (2.0 * height_u);\nfloat width = width_u * (1.0 / scale_shape_u + (1.0 - p) * (1.0 - 1.0 / scale_shape_u));\n\nfloat border_offset = border_u / (2.0 * height_u / sqrt(sqr(2.0 * height_u) + sqr(width_u / 2.0 * (1.0 - 1.0 / scale_u))));\n\nif (!first) border_offset *= scale_u;\n\nif (abs(x) > width + border_offset) return NOT_INSIDE;\nif (abs(x) > width) return black_solid_M;\n\nif (back) return black_solid_M;\n\nreturn TELEPORT;")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "support portals",
            data: Flat(
                kind: Portal(Some(Named("support_a")), Some(Named("support_b"))),
                is_inside: (("if (y > 0.) return NOT_INSIDE;\nfloat value = x*x + y*y;\nfloat border = border_u;\nif (!first) border *= scale_u * scale_shape_u;\nfloat width = width_u;\n\nint material = NOT_INSIDE;\n\nif (value < sqr(width + border)) material = black_solid_M;\nif (value < sqr(width) && !back) material = TELEPORT;\n\nreturn material;")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "triangle",
            data: Flat(
                kind: Simple(Some(Named("triangle"))),
                is_inside: (("return is_inside_triangle(x, y, 2.0, 1.0, 0.02, triangle_white_M, triangle_black_M);")),
                in_subspace: Normal,
            ),
        ),
    ]),
    cameras: ([]),
    textures: ([]),
    materials: ([
        (
            name: "room_yellow",
            data: Simple(
                color: (0.8980392156862745, 0.8313725490196079, 0.25098039215686274),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 1,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_red",
            data: Simple(
                color: (0.9058823529411765, 0.29411764705882354, 0.29411764705882354),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 1,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_black",
            data: Simple(
                color: (0.050980392156862744, 0.050980392156862744, 0.050980392156862744),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 1,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_gray",
            data: Simple(
                color: (0.2235294117647059, 0.2235294117647059, 0.2235294117647059),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 1,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_blue",
            data: Simple(
                color: (0.3137254901960784, 0.38823529411764707, 0.9254901960784314),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 1,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_green",
            data: Simple(
                color: (0.2627450980392157, 0.8470588235294118, 0.30196078431372547),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 1,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "portal_blue",
            data: Simple(
                color: (0.03557645, 0.6446965, 0.79122156),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 4,
                grid_coef: 0.3,
                grid2: false,
                grid3: false,
            ),
        ),
        (
            name: "portal_orange",
            data: Simple(
                color: (0.9317271, 0.42666554, 0.051948573),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 4,
                grid_coef: 0.3,
                grid2: false,
                grid3: false,
            ),
        ),
        (
            name: "grid_gray",
            data: Simple(
                color: (0.6666666666666666, 0.6666666666666666, 0.6666666666666666),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 5,
                grid_coef: 0.3,
                grid2: false,
                grid3: false,
            ),
        ),
        (
            name: "black_solid",
            data: Simple(
                color: (0, 0, 0),
                normal_coef: 0.5,
                grid: false,
                grid_scale: 4,
                grid_coef: 0.3,
                grid2: false,
                grid3: false,
            ),
        ),
        (
            name: "triangle_white",
            data: Simple(
                color: (0.7686274509803922, 0.7686274509803922, 0.7686274509803922),
                normal_coef: 0.5,
                grid: false,
                grid_scale: 4,
                grid_coef: 0.3,
                grid2: false,
                grid3: false,
            ),
        ),
        (
            name: "triangle_black",
            data: Simple(
                color: (0.043137254901960784, 0.043137254901960784, 0.043137254901960784),
                normal_coef: 0.5,
                grid: false,
                grid_scale: 4,
                grid_coef: 0.3,
                grid2: false,
                grid3: false,
            ),
        ),
    ]),
    intersection_materials: ([]),
    library: ([
        (
            name: "room",
            data: (("int is_inside_square(float x, float y, float sizex, float sizey, int material) {\n  if (abs(x) < sizex && abs(y) < sizey) {\n    return material;\n  } else {\n    return NOT_INSIDE;\n  }\n}\n")),
        ),
        (
            name: "triangle",
            data: (("int is_inside_triangle(float x, float y, float angle, float width, float border, int inner_m, int border_m) {\n  float value = width * 0.7 - abs(x)*angle;\n  if (between(border, y, value - border * angle)) {\n    return inner_m;\n  } else if (between(0., y, value)) {\n    return border_m;\n  } else {\n    return NOT_INSIDE;\n  }\n}")),
        ),
    ]),
    animations_filters: (
        uniforms: {
            "border": false,
            "height": true,
            "progress": true,
            "room_size_x": false,
            "room_size_y": false,
            "room_size_z": false,
            "scale": true,
            "scale_shape": true,
            "width": true,
        },
        matrices: {
            "a": false,
            "b": false,
            "room_origin": false,
            "support_a": false,
            "support_b": false,
            "triangle": true,
        },
        cameras: {},
    ),
    elements_descriptions: (
        uniforms: {
            "height": (
                help_description: None,
                overrided_name: "Height",
            ),
            "progress": (
                help_description: None,
                overrided_name: "Progress",
            ),
            "scale": (
                help_description: None,
                overrided_name: "Scale",
            ),
            "scale_shape": (
                help_description: None,
                overrided_name: "",
            ),
            "width": (
                help_description: None,
                overrided_name: "Width",
            ),
        },
        matrices: {
            "triangle": (
                help_description: None,
                overrided_name: "Triangle",
            ),
        },
        cameras: {},
    ),
    user_uniforms: (
        uniforms: {
            "border": false,
            "height": false,
            "progress": false,
            "room_size_x": false,
            "room_size_y": false,
            "room_size_z": false,
            "scale": false,
            "scale_shape": false,
            "width": false,
        },
        matrices: {
            "a": false,
            "b": false,
            "room_origin": false,
            "support_a": false,
            "support_b": false,
            "triangle": false,
        },
    ),
    animation_stages: ([
        (
            name: "trapezoid",
            data: (
                name: (
                    eng: "Rect to trapezoid",
                    rus: "Прямоугольник в трапецию",
                ),
                description: None,
                uniforms: {
                    "border": FromDev,
                    "height": FromDev,
                    "progress": ProvidedToUser,
                    "room_size_x": FromDev,
                    "room_size_y": FromDev,
                    "room_size_z": FromDev,
                    "scale": Changed(Some(Inline(Float((
                        min: None,
                        max: None,
                        value: 1,
                    ))))),
                    "scale_shape": Changed(Some(Inline(Formula(("1.0 + progress"))))),
                    "width": FromDev,
                },
                matrices: {
                    "a": FromDev,
                    "b": FromDev,
                    "room_origin": FromDev,
                    "support_a": FromDev,
                    "support_b": FromDev,
                },
                set_cam: None,
                cams: {},
                hidden: false,
            ),
        ),
        (
            name: "done",
            data: (
                name: (
                    eng: "To scale monoportal",
                    rus: "В масштабирующий монопортал",
                ),
                description: None,
                uniforms: {
                    "border": FromDev,
                    "height": FromDev,
                    "progress": ProvidedToUser,
                    "room_size_x": FromDev,
                    "room_size_y": FromDev,
                    "room_size_z": FromDev,
                    "scale": Changed(Some(Inline(Formula(("1.0 + progress"))))),
                    "scale_shape": Changed(Some(Inline(Float((
                        min: None,
                        max: None,
                        value: 2,
                    ))))),
                    "width": FromDev,
                },
                matrices: {
                    "a": FromDev,
                    "b": FromDev,
                    "room_origin": FromDev,
                    "support_a": FromDev,
                    "support_b": FromDev,
                },
                set_cam: None,
                cams: {},
                hidden: false,
            ),
        ),
        (
            name: "explore",
            data: (
                name: (
                    eng: "Explore",
                    rus: "Исследование",
                ),
                description: None,
                uniforms: {
                    "border": FromDev,
                    "height": ProvidedToUser,
                    "progress": FromDev,
                    "room_size_x": FromDev,
                    "room_size_y": FromDev,
                    "room_size_z": FromDev,
                    "scale": ProvidedToUser,
                    "scale_shape": Changed(Some(Inline(Formula(("scale"))))),
                    "width": ProvidedToUser,
                },
                matrices: {
                    "a": FromDev,
                    "b": FromDev,
                    "room_origin": FromDev,
                    "support_a": FromDev,
                    "support_b": FromDev,
                    "triangle": ProvidedToUser,
                },
                set_cam: None,
                cams: {},
                hidden: false,
            ),
        ),
    ]),
    current_stage: Animation("explore"),
    dev_stage: (
        uniforms: {
            "border": Float((
                min: Some(0),
                max: None,
                value: 0.13,
            )),
            "height": Float((
                min: Some(0),
                max: None,
                value: 0.5,
            )),
            "progress": Progress(0),
            "room_size_x": Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
            "room_size_y": Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
            "room_size_z": Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
            "scale": Float((
                min: Some(1),
                max: None,
                value: 2,
            )),
            "scale_shape": Float((
                min: Some(1),
                max: None,
                value: 2,
            )),
            "width": Float((
                min: Some(0),
                max: None,
                value: 1,
            )),
        },
        matrices: {
            "a": Simple(
                offset: (0, 0, 0),
                scale: 1,
                rotate: (0, 0, 0),
                mirror: (false, false, false),
            ),
            "b": Parametrized(
                offset: (
                    x: Value(0),
                    y: Uniform(Some(Inline(Formula(("height + height/scale"))))),
                    z: Value(0),
                ),
                rotate: (
                    x: Value(0),
                    y: Value(3.141592653589793),
                    z: Value(0),
                ),
                mirror: (
                    x: Value(0),
                    y: Value(0),
                    z: Value(0),
                ),
                scale: Uniform(Some(Inline(Formula(("1.0 / scale"))))),
            ),
            "room_origin": Simple(
                offset: (0, 0, 0),
                scale: 1,
                rotate: (0, 0, 0),
                mirror: (false, false, false),
            ),
            "support_a": Parametrized(
                offset: (
                    x: Value(0),
                    y: Uniform(Some(Inline(Formula(("-height"))))),
                    z: Value(0),
                ),
                rotate: (
                    x: Value(4.71238898038469),
                    y: Value(0),
                    z: Value(0),
                ),
                mirror: (
                    x: Value(0),
                    y: Value(0),
                    z: Value(0),
                ),
                scale: Value(1),
            ),
            "support_b": Parametrized(
                offset: (
                    x: Value(0),
                    y: Uniform(Some(Inline(Formula(("height + 2 * height/scale"))))),
                    z: Value(0),
                ),
                rotate: (
                    x: Value(4.71238898038469),
                    y: Value(0),
                    z: Value(0),
                ),
                mirror: (
                    x: Value(0),
                    y: Value(0),
                    z: Value(0),
                ),
                scale: Uniform(Some(Inline(Formula(("1.0 / scale_shape / scale"))))),
            ),
            "triangle": Simple(
                offset: (0, 0, 0.71),
                scale: 1,
                rotate: (4.71238898038469, 0, 0),
                mirror: (false, false, false),
            ),
        },
    ),
    animations: ([]),
    use_time: false,
    skybox: None,
)