(
    desc: (
        eng: "",
        rus: "",
    ),
    cam: (
        look_at: (0.0, 0.0, 0.0),
        alpha: 8.215865606465513,
        beta: 1.3959216133740295,
        r: 3.500000000000051,
        offset_after_material: 0.000025,
    ),
    uniforms: ([
        (
            name: "teleport_light",
            data: Bool(true),
        ),
    ]),
    matrices: ([]),
    objects: ([
        (
            name: "wheatley",
            data: Complex(
                kind: Simple(Some(Inline(Simple(
                    offset: (0.0, 0.0, 0.0),
                    scale: 1.0,
                    rotate: (1.5707963267948966, 1.5707963267948966, 0.0),
                    mirror: (false, false, false),
                )))),
                intersect: (("vec3 op = -r.o.xyz;
float b = dot(op, r.d.xyz);
float det = b*b - dot(op, op) + 1.0;
if (det < 0.) return scene_intersection_none;

det = sqrt(det);
float t = b - det;
if (t < 0.) t = b + det;
if (t < 0.) return scene_intersection_none;

vec4 pos = r.o + r.d * t;
vec3 n = normalize(pos.xyz);

float u = atan(pos.z, pos.x) / PI;
float v = atan(sqrt(pos.x * pos.x + pos.z * pos.z), pos.y) / PI;

return SceneIntersection(wheatley_M, SurfaceIntersection(true, t, u, v, n), false);")),
                in_subspace: Normal,
            ),
        ),
    ]),
    cameras: ([]),
    textures: ([]),
    materials: ([
        (
            name: "wheatley",
            data: Complex(
                code: (("return material_simple(hit, r, wheatley_color(hit.u, hit.v), 5e-1, false, 4e0, 3e-1);")),
            ),
        ),
    ]),
    intersection_materials: ([]),
    library: ([
        (
            name: "wheatley",
            data: (("vec3 rgb(int r, int g, int b) {
  float r1 = float(r) / 255.;
  float g1 = float(g) / 255.;
  float b1 = float(b) / 255.;
  return vec3(r1 * r1, g1 * g1, b1 * b1);
}

float dot_sph_dist(float u, float v, vec3 pos) {
  vec3 pos2 = vec3(
    sin(v*PI)*cos(u*PI),
    sin(v*PI)*sin(u*PI),
    cos(v*PI)
  );
  return dot(pos2, pos);
}

vec3 wheatley_color(float u, float v) {
  float x = sin(v*PI)*cos(u*PI);
  float y = sin(v*PI)*sin(u*PI);
  float z = cos(v*PI);
  vec3 pos = vec3(x, y, z);

  vec3 color = vec3(1.);

  float eye_size = 0.12;
  float white_size = 0.05;
  float light_blue_size = 0.3;
  float blue_size = 0.6;
  float eyelid_size = 0.3;
  float border_size = 0.005;
  float around_eye_size = 0.1;
  float vertical_lines = 0.4;
  float ass_size = 0.2;
  float side_size = 0.75;
  float straps_size = 0.006;
  float side_corner_size = 0.32;

  vec3 white = rgb(255, 255, 255);
  vec3 light_blue = rgb(152, 253, 252);
  vec3 blue = rgb(34, 68, 207);
  vec3 black = rgb(0, 0, 0);
  vec3 gray = rgb(128, 128, 128);
  vec3 dark = rgb(50, 50, 50);
  vec3 darker = rgb(20, 20, 20);

  float eye = v / eye_size;
  if (0. < eye && eye < white_size) color = white;
  eye = (eye - white_size) / (1. - white_size);

  if (0. < eye && eye < light_blue_size) color = mix(white, light_blue, eye/light_blue_size);
  eye = (eye - light_blue_size) / (1. - light_blue_size);

  if (0. < eye && eye < blue_size) color = mix(light_blue, blue, eye/blue_size);
  eye = (eye - blue_size) / (1. - blue_size);

  if (0. < eye && eye < 1.) color = color = mix(blue, black, eye);

  if (v < eye_size && abs(x) < sin(eye_size*PI) && abs(x) > sin((eye_size * (1. - eyelid_size))*PI)) color = white;

  if (v < eye_size && abs(x) < sin((eye_size * (1. - eyelid_size))*PI) && abs(x) > sin((eye_size * (1. - eyelid_size) - border_size)*PI)) color = black;

  if (v > eye_size && v < eye_size + border_size) color = black;

  if (v > eye_size + around_eye_size && v < eye_size + border_size + around_eye_size) color = black;

  if (abs(y) < sin(border_size*PI)/2. && v > eye_size && v < eye_size + around_eye_size) color = black;

  if (abs(y) > vertical_lines && abs(y) < vertical_lines + sin(border_size*PI) && v > eye_size + around_eye_size) color = black;

  if (v > 1. - ass_size) {
    color = dark;
    if (abs(x*x) < straps_size || abs(y*y) < straps_size) color = darker;

    if (abs(x - side_corner_size*0.7) < border_size * PI / 2. && -y > side_corner_size*0.7 - border_size * PI/2.) color = black;
    if (abs(-y - side_corner_size*0.7) < border_size * PI / 2. && x > side_corner_size*0.7 - border_size * PI / 2.) color = black;
  }
  if (v > 1. - ass_size && v < 1. - ass_size + border_size) color = black;

  if (abs(y*y) > side_size) {
    color = dark;
    if (abs(x*x) < straps_size || abs(y*y) < straps_size) color = darker;
  }
  if (abs(y*y) > side_size && abs(y*y) < side_size + sin(border_size * PI)) color = black;

  if (v > eye_size && v < eye_size + around_eye_size) {
    if (abs(x - side_corner_size) < border_size * PI / 2. && y > side_corner_size - border_size * PI/2.) color = black;
    if (abs(y - side_corner_size) < border_size * PI / 2. && x > side_corner_size - border_size * PI / 2.) color = black;
  }

  float dot1 = dot_sph_dist(- around_eye_size, -eye_size - around_eye_size/2., pos);
  if (dot1 > 1. - 0.001 && dot1 < 1. - 0.001 + 0.0005) color = black;

  if (dot_sph_dist(0.2, -eye_size - 0.03, pos) > 1. - 0.0003) color = black;
  if (dot_sph_dist(0.27, -eye_size - 0.03, pos) > 1. - 0.0003) color = black;
  if (dot_sph_dist(0.34, -eye_size - 0.03, pos) > 1. - 0.0003) color = black;

  return color;
}")),
        ),
    ]),
    videos: ([]),
    animations_filters: (
        uniforms: {
            "teleport_light": false,
        },
        matrices: {},
        cameras: {},
    ),
    elements_descriptions: (
        uniforms: {},
        matrices: {},
        cameras: {},
    ),
    user_uniforms: (
        uniforms: {},
        matrices: {},
    ),
    animation_stages: ([]),
    current_stage: Dev,
    dev_stage: (
        uniforms: {
            "teleport_light": Bool(true),
        },
        matrices: {},
    ),
    animations: ([]),
    use_time: false,
    skybox: None,
)