(
    desc: (
        eng: "",
        rus: "",
    ),
    cam: (
        look_at: (0, 0, 0),
        alpha: 0,
        beta: 1.5707963267948966,
        r: 0.03797498335832414,
        offset_after_material: 0.000025,
    ),
    uniforms: ([
        (
            name: "room_size_x",
            data: Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
        ),
        (
            name: "room_size_y",
            data: Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
        ),
        (
            name: "room_size_z",
            data: Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
        ),
        (
            name: "portal_black_color_progress",
            data: Progress(0),
        ),
        (
            name: "teleport_light",
            data: Bool(true),
        ),
        (
            name: "mirror",
            data: Bool(false),
        ),
    ]),
    matrices: ([
        (
            name: "room_origin",
            data: Simple(
                offset: (0, 0, 0),
                scale: 1,
                rotate: (0, 0, 0),
                mirror: (false, false, false),
            ),
        ),
    ]),
    objects: ([
        (
            name: "room_x+",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Uniform(Some(Named("room_size_x"))),
                            y: Value(0),
                            z: Value(0),
                        ),
                        rotate: (
                            x: Value(0),
                            y: Value(1.5707963267948966),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_z_u, room_size_y_u, room_yellow_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_x-",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Uniform(Some(Inline(Formula(("-room_size_x"))))),
                            y: Value(0),
                            z: Value(0),
                        ),
                        rotate: (
                            x: Value(0),
                            y: Value(1.5707963267948966),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_z_u, room_size_y_u, room_red_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_y+",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Value(0),
                            y: Uniform(Some(Named("room_size_y"))),
                            z: Value(0),
                        ),
                        rotate: (
                            x: Value(1.5707963267948966),
                            y: Value(0),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_x_u, room_size_z_u, room_black_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_y-",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Value(0),
                            y: Uniform(Some(Inline(Formula(("-room_size_y"))))),
                            z: Value(0),
                        ),
                        rotate: (
                            x: Value(1.5707963267948966),
                            y: Value(0),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_x_u, room_size_z_u, room_gray_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_z+",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Value(0),
                            y: Value(0),
                            z: Uniform(Some(Named("room_size_z"))),
                        ),
                        rotate: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_x_u, room_size_y_u, room_blue_M);")),
                in_subspace: Normal,
            ),
        ),
        (
            name: "room_z-",
            data: Flat(
                kind: Simple(Some(Inline(Mul(
                    to: Some(Inline(Parametrized(
                        offset: (
                            x: Value(0),
                            y: Value(0),
                            z: Uniform(Some(Inline(Formula(("-room_size_z"))))),
                        ),
                        rotate: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        mirror: (
                            x: Value(0),
                            y: Value(0),
                            z: Value(0),
                        ),
                        scale: Value(1),
                    ))),
                    what: Some(Named("room_origin")),
                )))),
                is_inside: (("return is_inside_square(x, y, room_size_x_u, room_size_y_u, room_green_M);")),
                in_subspace: Normal,
            ),
        ),
    ]),
    cameras: ([]),
    textures: ([]),
    materials: ([
        (
            name: "room_yellow",
            data: Simple(
                color: (1, 1, 1),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 2,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_red",
            data: Simple(
                color: (1, 1, 1),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 2,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_black",
            data: Simple(
                color: (1, 1, 1),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 2,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_gray",
            data: Simple(
                color: (1, 1, 1),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 2,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_blue",
            data: Simple(
                color: (1, 1, 1),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 2,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
        (
            name: "room_green",
            data: Simple(
                color: (1, 1, 1),
                normal_coef: 0.5,
                grid: true,
                grid_scale: 2,
                grid_coef: 0.3,
                grid2: false,
                grid3: true,
            ),
        ),
    ]),
    intersection_materials: ([]),
    library: ([
        (
            name: "common",
            data: (("bool invert_if(bool value, bool condition) {\n  if (condition) {\n    return !value;\n  } else {\n    return value;\n  }\n}")),
        ),
        (
            name: "room",
            data: (("int is_inside_square(float x, float y, float sizex, float sizey, int material) {\n  if (abs(x) < sizex && abs(y) < sizey) {\n    return material;\n  } else {\n    return NOT_INSIDE;\n  }\n}\n")),
        ),
    ]),
    animations_filters: (
        uniforms: {},
        matrices: {},
        cameras: {},
    ),
    elements_descriptions: (
        uniforms: {},
        matrices: {},
        cameras: {},
    ),
    user_uniforms: (
        uniforms: {},
        matrices: {},
    ),
    animation_stages: ([]),
    current_stage: Dev,
    dev_stage: (
        uniforms: {
            "mirror": Bool(false),
            "portal_black_color_progress": Progress(0),
            "room_size_x": Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
            "room_size_y": Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
            "room_size_z": Float((
                min: Some(0),
                max: None,
                value: 4,
            )),
            "teleport_light": Bool(true),
        },
        matrices: {
            "room_origin": Simple(
                offset: (0, 0, 0),
                scale: 1,
                rotate: (0, 0, 0),
                mirror: (false, false, false),
            ),
        },
    ),
    animations: ([]),
    use_time: false,
    skybox: None,
)