name: Build Binaries

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            ext: ""

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            ext: ".exe"

          - os: macos-latest
            target: aarch64-apple-darwin
            ext: ""

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: ${{ matrix.target }}
          override: true

      - name: Install Linux system dependencies
        if: ${{ runner.os == 'Linux' }}
        run: sudo apt-get update && sudo apt-get install --assume-yes --no-install-recommends libasound2-dev

      - name: Install cross (Linux)
        if: ${{ contains(matrix.target, 'linux') }}
        run: cargo install cross --git https://github.com/cross-rs/cross --rev 1b8cf50d20180c1a394099e608141480f934b7f7
        env:
          RUSTFLAGS: ""

      - name: Install cross
        if: ${{ !contains(matrix.target, 'linux') }}
        run: cargo install cross
        env:
          RUSTFLAGS: ""

      - name: Build
        run: cross build --verbose --release --locked --target=${{ matrix.target }} --bin portal
        env:
          CROSS_NO_WARNINGS: 0

      - name: Package
        shell: bash
        run: |
          mkdir -p dist
          cp "target/${{ matrix.target }}/release/portal${{ matrix.ext }}" "dist/portal-${{ matrix.target }}${{ matrix.ext }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: portal-${{ matrix.target }}${{ matrix.ext }}
          path: dist/portal-${{ matrix.target }}${{ matrix.ext }}
          if-no-files-found: error

      - name: Upload to GitHub Release
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/portal-${{ matrix.target }}${{ matrix.ext }}
          asset_name: portal-${{ matrix.target }}${{ matrix.ext }}
          tag: ${{ github.ref }}
          overwrite: true
